$navbar-height: 48px;
$navbar-background: #ccc;
$navbar-text-color: #999;
$navbar-text-active-color: #222;
.navbar {
  display: block;
  background: $navbar-background;
  height: $navbar-height;

  ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin: 0;

    li {
      > a {
        color: $navbar-text-color;
        padding: 0 8px;
        display: block;
        cursor: pointer;
        line-height: $navbar-height;
        transition: .1s ease-in-out;
        transition-property: color, background-color;
        text-decoration: none;

        &:hover {
          background-color: transparent;
          color: $navbar-text-active-color;
        }
        &.active {
          color: $navbar-text-active-color;
        }
      }
    }
  }
}
