@import "../node_modules/uikit/src/scss/variables.scss";
@import "../node_modules/uikit/src/scss/variables-theme.scss";
$card-default-background: #ffff;
@import "../node_modules/uikit/src/scss/mixins.scss";
@import "../node_modules/uikit/src/scss/mixins-theme.scss";
@import "../node_modules/uikit/src/scss/uikit.scss";
@import "../node_modules/uikit/src/scss/uikit-theme.scss";
@import "App/App";
@import "./components/Navbar/Navbar";
@import "./partials/Login/Login";
@import "./partials/Register/Register";


.uk-form-controls > [class^='RichTextEditor'] {
  /* 1 */
  box-sizing: border-box;
  /* 2 */
  margin: 0;
  /* 3 */
  border-radius: 0;
  /* 4 */
  font: inherit;
  overflow: auto;
  /* 1 */
  max-width: 100%;
  /* 2 */
  width: 100%;
  /* 3 */
  border: 0 none;
  /* 4 */
  padding: 0 $form-padding-horizontal;
  background: $form-background;
  color: $form-color;
  @if(mixin-exists(hook-form)) {@include hook-form();}
  padding-top: $form-padding-vertical;
  padding-bottom: $form-padding-vertical;
  vertical-align: top;
  text-align: left;
  @if(mixin-exists(hook-form-multi-line)) {@include hook-form-multi-line();}
  .public-DraftEditor-content {
    min-height: 200px;
  }
}
